<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h1><%= title %></h1>
        <form action="/users/add" method="POST">
            <label>用户名：<input type="text" name="userName"/></label><br/>
            <label>密码：<input type="text" name="password" /></label><br/>
            <button type="submit">添加</button>
        </form>
    </div>
</body>
</html>