<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <div>
        <h1>欢迎来到<%= title %></h1>
        <p>
            <a href="/login">登录</a>
            <a href="/register">注册</a>
        </p>

    </div>
</body>
</html>